# For projects using nanoc (http://nanoc.stoneship.org/)

# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Temporary file directory
tmp/

# Sbt directories to ignore
examples/testtextfreegausel/
examples/testwithtextgausel/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
target/
trunk/project/plugins/lib_managed/
trunk/project/plugins/project/
trunk/project/plugins/src_managed/
*.tar.gz